@model IEnumerable<PDS2_Store.Models.RequestViewModel>

@{
    ViewBag.Title = "GetRequests";
}

<h2>Solicitudes</h2>

<div class="container table-responsive" style="background-color:#e5e9f3">
    <table class="table table-hover table-fixed">
        <thead>
            <tr class="d-flex">
                <th>
                    <p>Nombre</p>
                </th>
                <th>
                    <p>Primer Apellido</p>
                </th>
                <th>
                    <p>Segundo Apellido</p>
                </th>
                <th>
                    <p>Fecha de Nacimiento</p>
                </th>
                <th>
                    <p>RFC</p>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    <p>Telefono</p>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ciudad)
                </th>
                <th>
                    <p>Estado de Solicitud</p>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="d-flex">
                    <td>
                        @Html.DisplayFor(modelItem => item.PrimerNombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApellidoPaterno)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApellidoMaterno)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaNacimiento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RFC)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ciudad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Stat)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditRequests", new { id = item.id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


