@model PDS2_Store.Models.CarritoComprasViewModels

<section class="shopping-cart dark">
    <div class="container">
        <div class="block-heading">
            <h2>Tu carrito <i class="fa fa-shopping-cart" aria-hidden="true"></i></h2>
            <p>Navega en PDS2.com y agrega los productos que buscas.</p>
        </div>
        <div class="content">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    @foreach (var item in Model.CartItems)
                    {
                        <div class="items">
                            <div class="product">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img src="@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(@item.Product.Imagen))" class="img-responsive center-block" alt="prewiew" width="120" height="80">
                                    </div>
                                    <div class="col-md-9">
                                        <div class="info">
                                            <div class="row">
                                                <div class="col-md-3 product-name">
                                                    <div class="product-name">
                                                        <a href="#">
                                                        @Html.ActionLink(item.Product.ProductName,"Details","Producto", new { id = item.ProductoId}, null)</a>
                                                        <div class="product-info">
                                                            <div>Descripcion: <span class="value">@item.Product.Description</span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 quantity">
                                                    <label for="quantity">Cantidad</label>
                                                    <p></p>
                                                    <div class="input-group">
                                                        <span class="input-group-btn">
                                                            @Html.ActionLink(" ", "RemoveFromCartItem", "CarritoCompras", new { id = item.ItemId }, htmlAttributes: new { @class = "btn btn-default btn-number glyphicon glyphicon-minus" })
                                                        </span>
                                                        <input type="text" name="quant[1]" class="form-control input-number text-center" value=@item.Quantity min="1" max=@item.Product.Cantidad readonly="readonly">
                                                        <span class="input-group-btn">
                                                            @Html.ActionLink(" ", "AddToCart", "CarritoCompras", new { id = item.ProductoId }, htmlAttributes: new { @class = "btn btn-default btn-number glyphicon glyphicon-plus" })
                                                        </span>
                                                    </div>
                                                    <p></p>
                                                </div>
                                                <div class="col-md-2 product-info">
                                                    <label for="quantity">Precio</label>
                                                    <p>@((item.Product.UnitPrice).ToString("C"))</p>
                                                </div>
                                                <div class="col-md-2 product-info">
                                                    <label for="quantity">Total</label>
                                                    <p>@((item.Quantity * item.Product.UnitPrice).ToString("C"))</p>
                                                </div>
                                                <div class="col-md-1 product-info">
                                                    <label for="quantity">Acción</label>
                                                    @Html.ActionLink(" ", "RemoveFromCartProducto", "CarritoCompras", new { id = item.ItemId }, htmlAttributes: new { @class = "btn btn-danger glyphicon glyphicon-trash" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-md-12 col-lg-4">
                    <div class="summary">
                        <h3>Summary</h3>
                        <div class="summary-item"><span class="text">Subtotal (@(Model.CartItems.Sum(item => item.Quantity)) productos):</span><span class="price">$ @Model.CartTotal </span></div>
                        <div class="summary-item"><span class="text">IVA</span><span class="price">$0</span></div>
                        <div class="summary-item"><span class="text">Total</span><span class="price">$ @Model.CartTotal </span></div>
                        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="location.href='@Url.Action("Compra", "CarritoCompras")'" >Proceder a pagar </button>
                        <button type="button" class="btn btn-success btn-lg btn-block" onclick="location.href='@Url.Action("Index", "Home")'">Sigue Comprando <i class="fa fa-angle-left"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="center-block col-md-4">
            @Html.ActionLink("VACIAR EL CARRITO", "VaciarCarrito", "CarritoCompras", htmlAttributes: new { @class = "btn btn-danger btn-block" })
        </div>
    </div>
</section>

<style>
    .shopping-cart {
        padding-bottom: 50px;
        font-family: 'Montserrat', sans-serif;
    }

        .shopping-cart.dark {
            background-color: #f6f6f6;
        }

        .shopping-cart .content {
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
            background-color: white;
        }

        .shopping-cart .block-heading {
            padding-top: 50px;
            margin-bottom: 40px;
            text-align: center;
        }

            .shopping-cart .block-heading p {
                text-align: center;
                max-width: 420px;
                margin: auto;
                opacity: 0.7;
            }

        .shopping-cart .dark .block-heading p {
            opacity: 0.8;
        }

        .shopping-cart .block-heading h1,
        .shopping-cart .block-heading h2,
        .shopping-cart .block-heading h3 {
            margin-bottom: 1.2rem;
            color: #3b99e0;
        }

        .shopping-cart .items {
            margin: auto;
        }

            .shopping-cart .items .product {
                margin-bottom: 20px;
                padding-top: 20px;
                padding-bottom: 20px;
            }

                .shopping-cart .items .product .info {
                    padding-top: 0px;
                    text-align: center;
                }

                    .shopping-cart .items .product .info .product-name {
                        font-weight: 600;
                    }

                        .shopping-cart .items .product .info .product-name .product-info {
                            font-size: 14px;
                            margin-top: 15px;
                        }

                            .shopping-cart .items .product .info .product-name .product-info .value {
                                font-weight: 400;
                            }

                    .shopping-cart .items .product .info .quantity .quantity-input {
                        margin: auto;
                        width: 80px;
                    }

                    .shopping-cart .items .product .info .price {
                        margin-top: 15px;
                        font-weight: bold;
                        font-size: 22px;
                    }

        .shopping-cart .summary {
            border-top: 2px solid #5ea4f3;
            background-color: #f7fbff;
            height: 100%;
            padding: 30px;
        }

            .shopping-cart .summary h3 {
                text-align: center;
                font-size: 1.3em;
                font-weight: 600;
                padding-top: 20px;
                padding-bottom: 20px;
            }

            .shopping-cart .summary .summary-item:not(:last-of-type) {
                padding-bottom: 10px;
                padding-top: 10px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            }

            .shopping-cart .summary .text {
                font-size: 1em;
                font-weight: 600;
            }

            .shopping-cart .summary .price {
                font-size: 1em;
                float: right;
            }

            .shopping-cart .summary button {
                margin-top: 20px;
            }
</style>



