@model PDS2_Store.Models.Direccion

@{
    ViewBag.Title = "DeleteDireccion";
}

<h2>Eliminar dirección</h2>
<div>
    <h4>Confirmar eliminar la siguiente dirección:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodigoPostal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoPostal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ciudad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ciudad)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Confirmar" class="btn btn-default" /> <br/> <br/>   
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
