@model PDS2_Store.Models.IndexViewModel
@{
    ViewBag.Title = "Administrar";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>
        Cambiar la configuración de la cuenta
    </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Contraseña:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Cambiar la contraseña", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Crear", "SetPassword")
            }
            ]
        </dd>
    </dl>
    <div>
        <h3 class="panel-title">Nombre y apellidos: </h3>
        @Html.DisplayFor(model => model.PrimerNombre) @Html.DisplayFor(model => model.SegundoNombre) @Html.DisplayFor(model => model.ApellidoPaterno) @Html.DisplayFor(model => model.ApellidoMaterno)
    </div>
</div>
<div>
    <div class="panel panel-info" style="margin: 1em;">
        <div class="panel-heading">
            <h3 class="panel-title">Nombre y apellidos: </h3>
        </div>
        <div class="panel-body">
            @Html.DisplayFor(model => model.PrimerNombre) @Html.DisplayFor(model => model.SegundoNombre) @Html.DisplayFor(model => model.ApellidoPaterno) @Html.DisplayFor(model => model.ApellidoMaterno)
        </div>
    </div>
    <div class="panel panel-info" style="margin: 1em;">
        <div class="panel-heading">
            <h3 class="panel-title">Email: </h3>
        </div>
        <div class="panel-body">
            @Html.DisplayFor(model => model.Email)
        </div>
    </div>
    <div class="panel panel-info" style="margin: 1em;">
        <div class="panel-heading">
            <h3 class="panel-title">Fecha de nacimiento: </h3>
        </div>
        <div class="panel-body">
            @Html.DisplayFor(model => model.FechadeNacimiento)
        </div>
    </div>
    <div class="panel panel-info" style="margin: 1em;">
        <div class="panel-heading">
            <h3 class="panel-title">Direcciones</h3>
        </div>
        <div class="panel-body">
            @Html.DisplayFor(model => model.Direcciones)
            @Html.ActionLink("Administrar direcciones","Direcciones")
        </div>
    </div>
    
</div>

