@model PDS2_Store.Models.Correos
@{ Layout = "~/Views/Shared/_LayoutAdmin.cshtml";}

@{
    ViewBag.Title = "Eliminar";
}

<h3>¿Está seguro de eliminar esto?</h3>
<div>
    <h4>Correos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Paqueterias.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paqueterias.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
