@model PDS2_Store.Models.Correos
@{ Layout = "~/Views/Shared/_LayoutAdmin.cshtml";}

@{
    ViewBag.Title = "Detalles";
}

<h2>Correos</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Paqueterias.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paqueterias.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Regresar", "Index")
</p>
