@model PDS2_Store.Models.Paquete
@{ Layout = "~/Views/Shared/_LayoutAdmin.cshtml";}

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Paquete</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Paqueterias.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paqueterias.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiasMin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiasMin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiasMax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiasMax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Express)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Express)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
