@model IEnumerable<PDS2_Store.Models.Paquete>
@{ Layout = "~/Views/Shared/_LayoutAdmin.cshtml";}
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Paqueterias.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiasMin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiasMax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Express)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Paqueterias.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiasMin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiasMax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Express)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
