@model IEnumerable<PDS2_Store.Models.MisPedidosDetallesViewModel>

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        @foreach (var item in Model)
        {
            <dt>
                @Html.DisplayNameFor(model => model.CompraId)
            </dt>

            <dd>
                @Html.DisplayFor(modelitem => item.CompraId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Direccion)
            </dt>

            <dd>
                @Html.DisplayFor(modelitem => item.Direccion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CodigoPostal)
            </dt>

            <dd>
                @Html.DisplayFor(modelitem => item.CodigoPostal)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Estado)
            </dt>

            <dd>
                @Html.DisplayFor(modelitem => item.Estado)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Ciudad)
            </dt>

            <dd>
                @Html.DisplayFor(modelitem => item.Ciudad)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Titular)
            </dt>

            <dd>
                @Html.DisplayFor(modelitem => item.Titular)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Numero)
            </dt>

            <dd>
                @Html.DisplayFor(modelitem => item.Numero)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Fecha)
            </dt>

            <dd>
                @Html.DisplayFor(modelitem => item.Fecha)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(modelitem => item.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FechaCompra)
            </dt>

            <dd>
                @Html.DisplayFor(modelitem => item.FechaCompra)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Total)
            </dt>

            <dd>
                @Html.DisplayFor(modelitem => item.Total)
            </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Regresar", "Index")
</p>
