@model IEnumerable<PDS2_Store.Models.ReporteEstadoViewModels>

@{
    ViewBag.Title = "Estado";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Estado de @ViewBag.message</h2>

<h4>@Html.ActionLink("Regresar", "ReporteEstado")</h4>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ciudad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompraId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaVenta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ciudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompraId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaVenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
        </tr>
    }

</table>
