
@{
    ViewBag.Title = "ReporteEstado";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Reporte por Estado</h2>
<h4>@Html.ActionLink("Regresar", "Index")</h4>

<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active">
        Estados disponibles
    </a>
    <a href="@Url.Action("Estado", "Reportes", new { estado = "Aguascalientes"})" class="list-group-item list-group-item-action">Aguascalientes</a>
    <a href="@Url.Action("Estado", "Reportes", new { estado = "BajaCalifornia"})" class="list-group-item list-group-item-action">Baja California</a>
    <a href="@Url.Action("Estado", "Reportes", new { estado = "BajaCaliforniaSur"})" class="list-group-item list-group-item-action">Baja California Sur</a>
    <a href="@Url.Action("Estado", "Reportes", new { estado = "Campeche"})" class="list-group-item list-group-item-action">Campeche</a>
    <a href="@Url.Action("Estado", "Reportes", new { estado = "Chiapas"})" class="list-group-item list-group-item-action">Chiapas</a>
    <a href="@Url.Action("Estado", "Reportes", new { estado = "Chihuahua"})" class="list-group-item list-group-item-action">Chihuahua</a>
    <a href="@Url.Action("Estado", "Reportes", new { estado = "Coahuila"})" class="list-group-item list-group-item-action">Coahuila</a>
    <a href="@Url.Action("Estado", "Reportes", new { estado = "Colima"})" class="list-group-item list-group-item-action">Colima</a>
    <a href="@Url.Action("Estado", "Reportes", new { estado = "Durango"})" class="list-group-item list-group-item-action">Durango</a>
    <a href="@Url.Action("Estado", "Reportes", new { estado = "EstadoDeMéxico"})" class="list-group-item list-group-item-action">Estado De México</a>
    <a href="@Url.Action("Estado", "Reportes", new { estado = "Guanajuato"})" class="list-group-item list-group-item-action">Guanajuato</a>
    <a href="@Url.Action("Estado", "Reportes", new { estado = "Guerrero"})" class="list-group-item list-group-item-action">Guerrero</a>
    <a href="@Url.Action("Estado", "Reportes", new { estado = "Hidalgo"})" class="list-group-item list-group-item-action">Hidalgo</a>
    <a href="@Url.Action("Estado", "Reportes", new { estado = "Jalisco"})" class="list-group-item list-group-item-action">Jalisco</a>
    <a href="@Url.Action("Estado", "Reportes", new { estado = "Michoacán"})" class="list-group-item list-group-item-action">Michoacán</a>
    <a href="@Url.Action("Estado", "Reportes", new { estado = "Morelos"})" class="list-group-item list-group-item-action">Morelos</a>
    <a href="@Url.Action("Estado", "Reportes", new { estado = "Nayarit"})" class="list-group-item list-group-item-action">Nayarit</a>
    <a href="@Url.Action("Estado", "Reportes", new { estado = "NuevoLeón"})" class="list-group-item list-group-item-action">Nuevo León</a>
    <a href="@Url.Action("Estado", "Reportes", new { estado = "Oaxaca"})" class="list-group-item list-group-item-action">Oaxaca</a>
    <a href="@Url.Action("Estado", "Reportes", new { estado = "Puebla"})" class="list-group-item list-group-item-action">Puebla</a>
    <a href="@Url.Action("Estado", "Reportes", new { estado = "Querétaro"})" class="list-group-item list-group-item-action">Querétaro</a>
    <a href="@Url.Action("Estado", "Reportes", new { estado = "QuintanaRoo"})" class="list-group-item list-group-item-action">Quintana Roo</a>
    <a href="@Url.Action("Estado", "Reportes", new { estado = "SanLuisPotosí"})" class="list-group-item list-group-item-action">San Luis Potosí</a>
    <a href="@Url.Action("Estado", "Reportes", new { estado = "Sinaloa"})" class="list-group-item list-group-item-action">Sinaloa</a>
    <a href="@Url.Action("Estado", "Reportes", new { estado = "Sonora"})" class="list-group-item list-group-item-action">Sonora</a>
    <a href="@Url.Action("Estado", "Reportes", new { estado = "Tabasco"})" class="list-group-item list-group-item-action">Tabasco</a>
    <a href="@Url.Action("Estado", "Reportes", new { estado = "Tamaulipas"})" class="list-group-item list-group-item-action">Tamaulipas</a>
    <a href="@Url.Action("Estado", "Reportes", new { estado = "Tlaxcala"})" class="list-group-item list-group-item-action">Tlaxcala</a>
    <a href="@Url.Action("Estado", "Reportes", new { estado = "Veracruz"})" class="list-group-item list-group-item-action">Veracruz</a>
    <a href="@Url.Action("Estado", "Reportes", new { estado = "Yucatán"})" class="list-group-item list-group-item-action">Yucatán</a>
    <a href="@Url.Action("Estado", "Reportes", new { estado = "Zacatecas"})" class="list-group-item list-group-item-action">Zacatecas</a>
</div>
