@model PDS2_Store.Models.Producto

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head{
    <style type="text/css">
        body {
            background-image: url('https://products.ls.graphics/paaatterns/images/027-p-1080.png');
            background-repeat: no-repeat;
            background-size: cover;
            margin: 0;
        }
    </style>
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <a href="javascript:history.back()" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
            <!--Titulo-->
            <h3 class="modal-title" style="text-transform: capitalize;">@Html.DisplayFor(model => model.ProductName)</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6 product_img">
                    <!--Imagen-->
                    @if (Model.Imagen != null)
                    {
                        <img src="@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(Model.Imagen))" class="img-responsive">
                    }
                    else
                    {
                        <img src="~/Content/imagenes/Imagen_no_disponible.png" class="img-responsive">
                    }
                </div>
                <div class="col-md-6 product_content">
                    <!--ID-->
                    <!--<h4>Product Id: <span>@Html.DisplayFor(model => model.ProductoID)</span></h4>-->
                    <h4>Vendedor: <span>@Html.DisplayFor(model => model.Vendedor.UserId)</span></h4>
                    <!--Rating-->
                    <div class="rating">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        (10 reseñas)
                    </div>
                    <!--Descripcion-->
                    <p>@Html.DisplayFor(model => model.Description)</p>
                    <!--Precio-->
                    <h3 class="cost">@Html.DisplayFor(model => model.UnitPrice)</h3>
                    <!--<div class="row">-->
                    <div class="col-md-4 col-sm-12">
                        
                        <select class="form-control" name="select">
                            <option value="" selected="">—</option>
                                @for (int i = 1; i < Model.Cantidad; i++)
                                {
                                    <option value=@i>@i</option>
                                }
                        </select>
                    </div>
                    <!-- end col -->
                    <!--</div>-->
                    <!--<div class="space-ten"></div>-->
                    <!--<div class="btn-ground text-center" style="padding-bottom: 50px">-->
                    <a href="@Url.Action("AddToCart", "CarritoCompras", new { id = Model.ProductoID })" class="btn btn-primary">
                        <span class="glyphicon glyphicon-shopping-cart"></span>
                        Añadir a Carrito
                    </a>
                    <!--<button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-heart"></span> Comprar Ahora</button>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</div>
<!--<p>

    @Html.ActionLink("Regresar", "Index")
</p>-->
