@model PDS2_Store.Models.Producto

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
            <!--Titulo-->
            <h3 class="modal-title" style="text-transform: capitalize;">@Html.DisplayFor(model => model.ProductName)</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6 product_img">
                    <!--Imagen-->
                    @if (Model.Imagen != null)
                    {
                        <img src="@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(Model.Imagen))" class="img-responsive">
                    }
                    else
                    {
                        <img src="~/Content/imagenes/Imagen_no_disponible.png" class="img-responsive">
                    }
                </div>
                <div class="col-md-6 product_content">
                    <!--ID-->
                    <!--<h4>Product Id: <span>@Html.DisplayFor(model => model.ProductoID)</span></h4>-->
                    <h4>Vendedor: <span>@Html.DisplayFor(model => model.Vendedor.UserId)</span></h4>
                    <!--Rating-->
                    <div class="rating">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        (10 reseñas)
                    </div>
                    <!--Descripcion-->
                    <p style="text-transform: lowercase;">@Html.DisplayFor(model => model.Description)</p>
                    <!--Precio-->
                    <h3 class="cost">@Html.DisplayFor(model => model.UnitPrice)</h3>
                    <!--<div class="row">-->
                        <div class="col-md-4 col-sm-12">
                            <select class="form-control" name="select">
                                <option value="" selected="">-</option>
                                <option value="">1</option>
                                <option value="">2</option>
                                <option value="">3</option>
                                <option value="">4</option>
                                <option value="">5</option>
                                <option value="">6</option>
                                <option value="">7</option>
                                <option value="">8</option>
                                <option value="">9</option>
                                <option value="">10</option>
                            </select>
                        </div>
                        <!-- end col -->
                    <!--</div>-->
                    <!--<div class="space-ten"></div>-->
                    <!--<div class="btn-ground text-center" style="padding-bottom: 50px">-->
                        @Html.ActionLink("Añadir A Carrito", "AddToCart", "CarritoCompras", new { id = Model.ProductoID }, htmlAttributes: new { @class = "btn  btn-primary glyphicon glyphicon-shopping-cart" })
                        <!--<button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-heart"></span> Comprar Ahora</button>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</div>

    @Html.ActionLink("Regresar", "Index")

